{% include "cabecera-usuario.html" %}

<!-- Título de la página -->
<h1 class="text-center border border-dark p-3 paginas-titulo">
  HISTORIAL DE CITAS
</h1>
<hr />

<h3>Citas Realizadas</h3>

<div class="container-fluid historial-usuario-container border mt-3">
  <!-- Para hacer la tabla responsive en dispositivos móviles -->
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Día</th>
          <th scope="col">Hora</th>
          <th scope="col">Lugar</th>
          <th scope="col">Notas del Doctor/a</th>
        </tr>
      </thead>
      <tbody>
        {% if listaCitas %}
          {% for cita in listaCitas %}
            <tr>
              <td>{{ cita.id_cit.dia_cit }}</td>
              <td>
                {{ cita.id_cit.id_hora.inicio_hora }} a {{ cita.id_cit.id_hora.final_hora }}
              </td>
              <td>
                {{ cita.id_cit.id_lugar.nombre_lugar }} / {{ cita.id_cit.id_lugar.ubicacion_lugar }}
              </td>
              <td>{{ cita.nota_con }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="4">No tiene citas</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

<br>

{% include "pie.html" %}
